version: "3"

services:
  db1:
    image: "postgres:11.5"
    environment:
      - "POSTGRES_USER=graphqlfederation_db1"
      - "POSTGRES_DB=graphql_federation_db1"
    expose:
      - "5432"
    ports:
      - "5437:5432"
  db2:
    image: "postgres:11.5"
    environment:
      - "POSTGRES_USER=graphqlfederation_db2"
      - "POSTGRES_DB=graphql_federation_db2"
    expose:
      - "5432"
    ports:
      - "5438:5432"
  db3:
    image: "postgres:11.5"
    environment:
      - "POSTGRES_USER=graphqlfederation_db3"
      - "POSTGRES_DB=graphql_federation_db3"
    expose:
      - "5432"
    ports:
      - "5439:5432"
